body{
    margin: 0;
    padding: 0;
    background: url('../img/purple-bg.png');
    background-size:100% ;
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #17113b;
  }
  
  header {
      color: #17113b;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
    
    .logo {
      display: flex;
      align-items: center;
    }
    
    .logo img {
      height: 50px;
      margin-right: 10px;
    }
    
    nav ul {
      list-style: none;
      display: flex;
    }
    
    nav li {
      margin-right: 20px;
    }
    
    nav a {
      color: #17113b;
      text-decoration: none;
      font-size: large;
      transition: all 0.1s;
      font-size: 16px;
    }
    nav a:hover {
      color: rgb(136, 13, 218);
    }
    a.active{
      background: rgb(136, 13, 218);
      background-repeat: no-repeat;
      padding: 8px;
      border-radius: 60px;
      color: aliceblue;
      /* transition: 0.1s; */
    }
    a.active:hover{
      color: aqua;
      background-color: black;
      box-shadow: 2px 2px 8px gray;
    }
.header{
    margin-bottom: 100px;
}




.customizer{
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}
.box{
    background: rgb(136, 13, 218);
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    height: 1000px;
    color: white;
}
.bttn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background: white;
    font-size:40px;
    border-radius: 40px;
    border: 0;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
}

.col-head{
    font-size: xx-large;
    /* justify-content: center; */
    display: flex;
    align-items: center;
}
.p-50{
    padding: 50px 100px;
}
.col-data{
    line-height: 30px;
    padding-bottom: 100px;
}
.select{
    padding: 8px 20px 8px 20px;
    border-radius: 40px;
    text-align: center;
    width: 250px;
    /* height: 100px; */
    /* font-weight: bold; */
    border: 0;
}
li{
    list-style: none;
}
i{
    cursor: pointer;
}
.type{
padding: 10px 25px; 
border-radius: 40px; 
background-color: white;
color:black;
text-align: center;
margin-left: 40px;
}
.d-t{
    padding: 8px 0px 8px 0px; 
    width: 130px; 
    border-radius: 40px; 
    border: 0px; 
    text-align: center;
    }
    


    .image-button {
        background: rgb(136, 13, 218);
        border: none;
        color: white; /* Text color */
        padding: 10px 10px; /* Adjust the padding as needed */
        cursor: pointer;
        border-radius: 50px;
        width: 200px;
        /* margin-right: 100px; */
        font-size: larger;
        font-weight: bold;
      }
      .image-button:hover{
        color: aqua;
      }
      /* .list3 .vline{
        border-left: 6px solid black;
        height: 40px;
        position: absolute;
        left: 50%;
        margin-left: -4px;
        top: 60px;
      } */
      footer .image-button1{
        background-image: url('../img/button.png') !important;
        background-size: cover; /* Adjust the image size */
        background-repeat: no-repeat;
        background-position: center;
        font-size: 50px;
        font-weight: bolder;
        color: white;
        border: none;
        width: 600px;
        margin: auto;
        /* margin-top: 50px; */
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        height: 120px;
      }
      button{
        background: none;
      }
      footer p{
        font-weight: bold;
        text-align: center;
      }
      .footer-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 50px;
      }
      .footer-last{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .footer-last h4{
        margin: 0;
        padding: 0;
      }
      .footer-last li{
        list-style-type: none;
        font-weight: 500;
      }
      
        
      .image-button {
        background: rgb(136, 13, 218);
        border: none;
        color: white; /* Text color */
        padding: 10px 10px; /* Adjust the padding as needed */
        cursor: pointer;
        border-radius: 50px;
        width: 200px;
        /* margin-right: 100px; */
        font-size: larger;
        font-weight: bold;
      }
      .image-button:hover{
        color: aqua;
      }
      /* .list3 .vline{
        border-left: 6px solid black;
        height: 40px;
        position: absolute;
        left: 50%;
        margin-left: -4px;
        top: 60px;
      } */
      footer .image-button1{
        background-image: url('../img/button.png') !important;
        background-size: cover; /* Adjust the image size */
        background-repeat: no-repeat;
        background-position: center;
        font-size: 50px;
        font-weight: bolder;
        color: white;
        border: none;
        width: 600px;
        margin: auto;
        /* margin-top: 50px; */
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        height: 120px;
      }
      button{
        background: none;
      }
      footer p{
        font-weight: bold;
        text-align: center;
      }
      .footer-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 50px;
      }
      .footer-last{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .footer-last h4{
        margin: 0;
        padding: 0;
      }
      .footer-last li{
        list-style-type: none;
        font-weight: 500;
      }
      
        #Drop-down{
          padding: 15px;
          margin-left:600px;
          border-radius: 10px;
          width: 20%;
          text-align: center;
          background: url('../img/button.png');
          background-position: center;
          font-weight: bold;
          font-family:'Courier New', Courier, monospace;
        }
       .image-option img {
          width: 300px; 
          height: 200px;
          margin: 10px;
          border-radius: 10px;
      }
      .image-option{
        display: inline;
      }
      .image-selection{
        margin-left: 180px;
        width: 80%;
        padding: 20px;
      
      }
      .image-selection h3{
        text-align: center;
        color: blue;
        font-size: larger;
        margin-top: 30px;
      }
    